<!DOCTYPE html>
<html>
  <head>
    <title>Tasks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <a href="/logout">Logout</a>
    <h1>Tasks</h1>
    <form method="POST" {% if selected_task %} action="/tasks/{{selected_task.id}}/edit" {% else %} action="/tasks" {% endif %}>
      <label for="title">Title:</label>
      <input type="text" name="title" required {% if selected_task %} value = {{selected_task.title}} {% endif %}><br><br>
      <label for="description">Description:</label>
      <input type="text" name="description" {% if selected_task %} value = {{selected_task.description}} {% endif %}><br><br>
      <label for="deadline">Deadline:</label>
      <input type="datetime-local" name="deadline" required {% if selected_task %} value = "{{selected_task.deadline}}" {% endif %}><br><br>
      <label for="task_type">Task type:</label>
      <select name="task_type" required >
        {% for task_type in task_types %}
        <option value="{{ task_type.type }}" {% if  task_type.type == selected_task.task_type %} selected {% endif %} >{{ task_type.type }} </option>
        {% endfor %}
      </select><br><br>
      <button type="submit">{% if selected_task %} Edit Task {% else %} Add Task {% endif %}</button>
    </form>
    <br>
    <h2>Current Tasks</h2>
    <table>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Type</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Mark as Done</th>
      </tr>
      {% for task in tasks %}
      <tr> <form method="POST" action="/tasks"> 
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.deadline }}</td>
        <td>{{ task.task_type }}</td>
        <td>{{ task.status }}</td>
        <td><button type="submit" name="edit_task" value="{{task.id}}">Edit Task</button> </td>
        <td><a href="/tasks/{{ task.id }}/delete">Delete</a></td>
        <td><a href="/tasks/{{ task.id }}/mark">Mark as Done</a></td>
      </form>
      </tr>
      {% endfor %}
    </table>
    <br>
    <h2>Completed Tasks</h2>
    <table>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Completion Time</th>
        <th>Type</th>
        <th>Delete</th>
      </tr>
      {% for task in completed_tasks %}
      <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.done_time }}</td>
        <td>{{ task.task_type }}</td>
        <td><a href="/tasks/{{ task.id }}/delete">Delete</a></td>
      </tr>
      {% endfor %}
    </table>
    <a href="/analysis">Go to Analysis</a>
  </body>
</html>
